/build
/out
.DS_Store
/target/
/__ConfigTemp/
/.settings/
/.idea
/.settings
/.classpath
/.gradle
/bin
.project
/doc
*.iml
dev.properties
mvnlog.txt
mvntest.cmd
mvntree.txt
mvntree.cmd
mvnlog.cmd

Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/%
Config.java
